Repository tuxsudo/monorepo-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --parser json --write, prettier --parser graphql --write, prettier --parser markdown --write

update gitignore file
  .gitignore
  packages/module-template/yarn-error.log
  yarn-error.log
  yarn.lock
Due: none

configure with bolt
  .eslintignore
  .prettierignore
  .storybook/config.js
  lerna.json
  package.json
  packages/module-template/package-lock.json
  packages/module-template/package.json
  packages/module-template/src/index.js
  packages/module-template/src/index.test.js
  packages/module-template/src/story.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write

Add readme
  readme.md
Due: none

fix config for lint-staged
  .lintstagedrc
  packages/module-template/src/index.story.js
Due: eslint --fix

Add support for babel 7
  .babelrc
  jest.config.js
  package.json
  packages/js-module-template/.gitignore
  packages/js-module-template/package.json
  packages/js-module-template/src/index.js
  packages/js-module-template/src/index.story.js
  packages/js-module-template/src/index.test.js
  packages/js-module-template/src/submodules/add.js
  packages/module-template/package-lock.json
  packages/module-template/package.json
  packages/module-template/src/index.js
  setup/babel-polyfill.js
  yarn.lock
Due: eslint --fix, prettier --parser json --write

Add typescript example
  .lintstagedrc
  package.json
  packages/js-module-template/.gitignore
  packages/js-module-template/package.json
  packages/js-module-template/src/submodules/volume.ts
  tsconfig.json
  yarn.lock
Due: prettier --parser json --write

Add .npmrc to module template
  packages/js-module-template/.npmignore
Due: none

Path conditions:
  eslint --fix: any of: *.js
  prettier --parser json --write: any of: *.json
  prettier --parser graphql --write: any of: *.gql
  prettier --parser markdown --write: any of: .md
